@import 'tailwindcss';

@theme {
  --color-tribearth-green: #3f6b57;
  --color-tribearth-green-light: #5d7f6d;
  --color-tribearth-green-deep: #254536;
  --color-tribearth-gold: #c7a75b;
  --color-tribearth-gold-light: #dfc982;

  --color-tribearth-sage: #8a9d88;
  --color-tribearth-cream: #f5f1e5;
  --color-tribearth-offwhite: #faf9f4;

  --color-tribearth-charcoal: #252824;
  --color-tribearth-muted: #6d7169;
  --color-tribearth-border: #ddd9ca;
}

:root {
  --background: #f5f1e5;
  --foreground: #252824;
}

* {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  /* color: inherit; */
  text-decoration: none;
}
